@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.auth-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    max-width: 800px;
    margin: 0 auto;
}

.rules-panel {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
}
.form-container {
    flex: 1.1;
}

.form-container h3 {
    margin: 0 0 5px 0;
    font-size: 22px;
    color: #222222;
}

.fo